[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = http://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/histwin"]
	path = bundle/histwin
	url = http://github.com/chrisbra/histwin.vim.git
[submodule "bundle/hypergit"]
	path = bundle/hypergit
	url = http://github.com/c9s/hypergit.vim.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
